<AuContent>
  <AuHeading @level="1" @skin="2">Voorbeeld pagina organisatie rapport</AuHeading>
  <p>Applicatie in ontwikkeling</p>
  <p>Test: {{if this.loketSession.isMockLoginSession "Ja" "Nee"}}</p>
  {{#each this.model.adminUnitCountReports as |report|}}
    <p>{{report}}</p>
  {{/each}}
</AuContent>