<AuMainHeader
  @brandLink={{"https://www.vlaanderen.be/nl"}}
  @homeRoute="home"
  @appTitle="Data Monitoring"
>
  <li class="au-c-list-horizontal__item">
    <AuLink @route="help" @skin="secondary" @icon="question-circle">
      Meer info
    </AuLink>
  </li>
</AuMainHeader>
