.c-infinite-list {
  > li + li {
    margin-top: $au-unit-small;
    padding-top: $au-unit-small;
    border-top: 0.1rem solid var(--au-gray-200);
  }

  @include mq(large) {
    > li + li {
      margin-top: $au-unit-small + $au-unit-tiny;
      padding-top: $au-unit-small + $au-unit-tiny;
    }
  }
}
