<div class="au-u-1-1 au-u-text-right au-u-margin-top-tiny" ...attributes>
  <AuButton
    @icon={{@icon}}
    @skin="naked"
    {{on "click" @onClick}}
    data-test-filters-toggle-button
  >{{yield}}</AuButton>
</div>