{{page-title "Meer info"}}

<section class="au-o-region" id="content">
  <div class="au-o-layout au-o-layout--small">
    <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">Meer info</AuHeading>
    <AuHeading @level="2" @skin="2" class="au-u-margin-bottom">Veelgestelde
      vragen</AuHeading>

    <div class="au-o-flow au-u-margin-bottom-large">
      <FaqCard @heading="Help item">
        Help text
      </FaqCard>
    </div>

    <div class="au-o-region">
      <AuHeading @level="4" @skin="4" class="au-u-margin-bottom">
        Heb je een andere vraag?
        <br />
        Contacteer ons per e-mail op

        <AuLinkExternal
          href="mailto:geen-email-gegeven@vlaanderen.be"
        >geen-email-gegeven@vlaanderen.be</AuLinkExternal>
      </AuHeading>

    </div>
  </div>
</section>