{{page-title "Meer info"}}

<section class="au-o-region" id="content">
  <div class="au-o-layout au-o-layout--small">
    <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">Meer info</AuHeading>
    <AuHeading @level="2" @skin="2" class="au-u-margin-bottom">Veelgestelde
      vragen</AuHeading>

    <div class="au-o-flow au-u-margin-bottom-large">
      <FaqCard @heading="Hoe vind je een agendapunt? ">
        Je weet op welke datum het agendapunt behandeld werd of wordt?
        <ul>
          <li>
            Gebruik ‘Selecteer een periode’ om de juiste vergadering te vinden.
            <li>
              Selecteer de juiste datum of periode met de knop ‘eigen periode
              kiezen’ of gebruik het drop- downmenu om in een voorgestelde
              periode te zoeken.
            </li>
          </li>
        </ul>
        Je weet niet op welke datum het agendapunt behandeld werd of wordt?
        <ul>
          <li>
            Klik op ‘Bekijk agendapunten’ en geef een zoekterm in bij ‘Wat zoek
            je?'.
          </li>
          <li>
            Filter eventueel op gemeente (bij ‘Kies één of meer gemeentes’), om
            de zoekopdrachten te verfijnen en de resultaten te beperken.
          </li>
        </ul>
      </FaqCard>

      <FaqCard @heading="Hoe werkt de zoekfunctie?">
        <p>
          De zoekfunctie biedt gebruikers de mogelijkheid om te zoeken op
          kernwoorden. Momenteel is het alleen mogelijk om te zoeken op
          afzonderlijke woorden en nog niet op volledige zinnen of complexere
          queries.
        </p>
        <p>Daarnaast is het eenvoudig om resultaten te verfijnen door te
          filteren op gemeente en datum. Voor nog meer flexibiliteit kan ook een
          eigen periode ingesteld worden.
        </p>
        <p>
          De zoekfunctie is momenteel in ontwikkeling en zal voortdurend worden
          verbeterd om aan de behoeften van onze gebruikers te voldoen.
        </p>
      </FaqCard>

      <FaqCard @heading="De data is soms onvolledig, hoe komt dat?">
        <p>
          De applicatie verzamelt de gegevens volgens het principe van gelinkte
          open data.
        </p>
        <p>
          Sinds 30 juni 2021 publiceren zo goed als alle lokale besturen in
          Vlaanderen specifieke agendapunten, besluitenlijsten en notulen
          volgens eenzelfde digitale standaard. Mensen en (zoek)machines kunnen
          zo de beschikbare informatie gemakkelijk vinden en hergebruiken.
        </p>
        <p>
          De applicatie haalt de beschikbare gegevens op. Dat kan leiden tot
          onvolledige informatie in de applicatie als er fouten optreden tijdens
          het gelinkt publiceren of ophalenvan deze gegevens. We werken samen
          met lokale besturen aan verdere optimalisatie en uitbreiding van de
          gegevensverzameling. Door als gebruiker feedback te geven, kan je
          hieraan ook meewerken.
        </p>
        <p>
          Je kan op elke detailpagina van een agendapunt overigens zien welke
          informatie over dat agendapunt wel of niet aanwezig is via de knop
          “datakwaliteit”.
        </p>
      </FaqCard>

      <FaqCard @heading="Wil je een klacht indienen tegen een beslissing?">
        <p>
          Op de webpagina
          <AuLinkExternal
            href="https://www.vlaanderen.be/lokaal-bestuur/klachten-tegen-lokale-besturen/klachtenprocedure"
          >Klachtenprocedure | Vlaanderen.be</AuLinkExternal>
          vind je hoe je een klacht correct indient. Kijk zeker na of je klacht
          ontvankelijk is want voor bepaalde beslissingen gelden specifieke
          toezichtprocedures.
        </p>
      </FaqCard>
      <FaqCard
        @heading="Wil je een voorstel doen of vraag stellen aan een gemeentebestuur. Hoe doe ik dat?"
      >
        Alle informatie over participatie vind je onder de rubriek
        ‘Burgerparticipatie’ op de webpagina
        <AuLinkExternal
          href="https://www.vlaanderen.be/lokaal-bestuur/verkiezingen-democratie-en-participatie"
        >
          Verkiezingen, democratie en participatie | Vlaanderen.be
        </AuLinkExternal>
      </FaqCard>
    </div>

    <div class="au-o-region">
      <AuHeading @level="4" @skin="4" class="au-u-margin-bottom">
        Heb je een andere vraag?
        <br />
        Contacteer ons per e-mail op

        <AuLinkExternal
          href="mailto:lokaalbeslist@vlaanderen.be"
        >lokaalbeslist@vlaanderen.be</AuLinkExternal>
      </AuHeading>

    </div>
  </div>
</section>